/* #root { */
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
/* } */

body{
  margin: 0;
}

.App{
  display: flex;
  flex-direction: column;
}

.header {
  background-image: linear-gradient(to right, #98d1ff, #c04df5); /* Example: Peach Fuzz to Illuminating */
  /* background: linear-gradient(135deg, #66aaea 0%, #714ba2 100%); */
  color: white;
  text-align: center;
  width: 100%;
  padding: 5px;
}

.header h1{
  font-weight: 400;
  margin: auto;
  font-weight: 700;  
  font-size: 2.5em;
  line-height: 1;
}
.header p{
  font-size: 1.1rem;
  margin-top: 15px;
  margin-bottom: auto;
  opacity: 0.9;
}

/* Tabs */
.topbar{
  text-align: center;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  box-shadow: none;
}

.tab-bar{
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 20px;
}

.step{
  display: flex;
  align-items: center;
  gap: 20px;
}

.twoDividers{
  display: flex;
  flex-direction: row;
}

.step-label{
  white-space: nowrap; 
}

.reset-req{
  width: 300px;
  margin-top: -40px;
  margin-bottom: 20px;
  display: flex;
  justify-self: flex-end;
}


/* App description form */
.description-card{
  margin: auto;
  width: 90%;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  padding: 50px;  
  margin-bottom: 10px;
}

.description-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.description-label{
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: 600;
}

.description-form .p-inputtext, 
.description-form .p-inline-message{
  width: 100%;
}

/* Requirements */
.req-heading{
  font-weight: 600;
  text-align: center;
  font-size: 1.7em;
}

.requirements{
  display: flex;
  margin: 20px;
  gap: 5%;
  text-align: center;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.req-item{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: 2rem;
  /* padding-right: 2rem; */
}

.label-data{
  padding-right: 2rem;
}

.entity-fields{
  margin-bottom: 10px;
  padding: 1rem;
  background-color: #abc8fd6b;
  border-radius: 8px;

  display: flex;
  align-items: center;

  /* margin-left: 5rem; */
  /* margin-right: 5rem; */

  padding-left: 2rem;
  padding-right: 2rem;
}

.field{
  margin-left: 1rem;
}

/* UI */
.ui-heading{
  font-weight: 600;
  text-align: center;
  font-size: 1.7em;
}

.ui-card{
  margin-top: 15px;
  /* background-color:#98d1ff80 ; */
  /* background-color:#abc8fd80 ; */
    background-color: #abc8fd6b !important;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  justify-content: center;
  width: auto;
}
.form{
  display: flex;
  flex-direction: column;
}

.form-fields{
  /* gap: 80px; */
  gap: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
  width: 100% !important;
  text-align: start;
}

.form-fields .p-inputtext{
  background-color: white;
  border-color:  rgba(255, 255, 255, 0.952) !important;
}

.ui-table{
  text-align: center;
  margin-top: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #abc8fd6b !important;
}

.ui-table,
.p-datatable,
.p-datatable-wrapper,
.p-datatable-thead > tr > th,
.p-datatable-tbody > tr > td {
  background-color: #abc8fd6b !important;
}

.p-datatable-thead > tr > th{
  color: black;
  background-color: rgba(255, 255, 255, 0.952) !important;
}
.p-datatable-tbody > tr > td {
  border-color:  rgba(255, 255, 255, 0.952) !important;
}

/* .p-datatable-tbody > tr:hover {
  /* background-color: #89b4fc80 !important; 
} */


/* .ui-tabs{
  display: flex;
  flex-direction: column;
} */